*.log
*.pot
*.pyc
__pycache__
django_movie/db.sqlite3
*.sqlite3
.venv
../venv/
**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
main.py
.idea
.idea/
**/.idea/**
*/.idea/workspace.xml
*/.idea/tasks.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/libraries
.idea/mongoSettings.xml